@model List<AdminPage.Models.DBModels.Product>
<form enctype="multipart/form-data">
    <div class="info-item-container container-fluid product-edit">
        <div class="row">
            <div class="col-xs-2">
                <div class="info-item-image">
                    <img src="Content/rafi-filler-pic.jpg" alt="placeholder-pic" />
                </div>
            </div>
            <div class="col-xs-10 @*beside-img*@">
                <div class="split-content">
                    <div class="left-content-top">
                        <div class='input-group'>
                            <span class="input-group-addon">Name</span>
                            <input type='text' class='inline-block form-control' id='product-name' placeholder="..." value="@Model.First().Name">
                        </div>
                    </div>
                    <div class="right-content-top">
                        <div class='input-group'>
                            <span class="input-group-addon">Date</span>
                            <input type='text' class='inline-block form-control' id='product-date' placeholder=""  value="@Model.First().Date" disabled>
                        </div>
                    </div>
                </div>
                <br />

                <div class='input-group textarea-group'>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-comment"></span>
                    </span>
                    <textarea type='text' class='inline-block form-control' id='product-desc' placeholder="Enter Item Description here...">@Model.First().Description</textarea>
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" id='product-price' value="@Model.First().Price" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="top-pad">

                <div class="col-xs-2">
                    <input id="product-image" type="file" value="upload image" name="pic" accept="image/*" />
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-3">
                    <button type="button" class="form-control update-product edit-control" id="@Model.FirstOrDefault().Id">Update</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="form-control delete-product edit-control" id="@Model.FirstOrDefault().Id">Delete</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="form-control edit-control" id="cancel-product">Cancel</button>
                </div>

                <script type="text/javascript">
                    //$(function () {
                    $('.datetimepicker').datetimepicker();
                    $('#item-date').val(new Date().toLocaleString());
            //});
                </script>

            </div>
        </div>
    </div>
    <br />
</form>