<!DOCTYPE html>



<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Auerfarm Mobile</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>


    <div class="main-menu" ng-controller="MainController as MainC">
        <div class="clearfix mobile-header">

            <div class="col-xs-2">
                <a href="#/main" ng-hide="{{MainC.back}}">
                    <i class="fa fa-arrow-left fa-3x white-color" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-xs-10">
                <p class="text-center header-text">
                    {{MainC.pageTitle}}
                </p>
            </div>

        </div>

        <div>
            <ng-view></ng-view>
        </div>

    </div>



    @RenderSection("scripts", required: false)
</body>
</html>
